<div id="contenido" class="row">
    <div id="panel-izquierdo" class="col-lg-6 col-md-6 col-sm-12">
        <div id="titulo-login">
            <h1>Aplicación OlSoftware</h1>
            <p>Prueba practica front-end</p>
        </div>
    </div>

    <div id="panel-derecho" class="col-lg-6 col-md-6 col-sm-12">
        <form (ngSubmit)="login()" class="login" #forma="ngForm">
            <h2>Inicio de sesión</h2>
            <div class="form-group">
                <div class="text-box border-bottom">
                    <input [(ngModel)]="master.login" type="text" name="login" id="usuario" placeholder="usuario">
                    <i class="far fa-user"></i>
                </div>
                <div class="text-box">
                    <input [(ngModel)]="master.pass" type="password" name="pass" id="contraseña" placeholder="contraseña">
                    <i class="fas fa-unlock"></i>
                </div>
            </div>
            <button class="btn btn-block">Iniciar sesión</button>
        </form>
    </div>
    <div id="footer" class="col-12">
        <h4>OLSoftware - 2018</h4>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>