<div class="row">
    <div class="col-12">
        <app-navbar></app-navbar>
    </div>
</div>

<div id="user-page">


    <div id="main" class="row">
        <div id="main-header">
            <span style="font-size:30px;cursor:pointer" (click)="colpaseMenu(abierto = !abierto)">&#9776; Prueba Front-end</span>
            <div>
                <a><i class="large material-icons">person_outline</i><span>Andres Felipe Gracia Castro</span></a>
                <a [routerLink]="['/login']"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <div>
                <h2 id="main-title-table"><i class="large material-icons">people</i>Usuarios Existentes</h2>
                <button class="btn" (click)="createUser(forma)">Crear</button>
            </div>
            <table id="user-table" class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Identificación (C.C)</th>
                        <th scope="col">Rol asociado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Correo electronico</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuarios of resultadoUsuarios; let i = index">
                        <td>{{usuarios.nombres}}</td>
                        <td>{{usuarios.apellidos}}</td>
                        <td>{{usuarios.numId}}</td>
                        <td>{{usuarios.rol | rolUser}}</td>
                        <td>{{usuarios.estado | estadoUser}}</td>
                        <td>{{usuarios.telefono}}</td>
                        <td>{{usuarios.correo}}</td>
                        <td>
                            <i (click)="statedUpdateUser=true; updateUser(forma, usuarios)" class="fas fa-pencil-alt"></i>
                            <i (click)="delate(usuarios.numId);" value="usuarios.num.Id" class="fas fa-trash"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination">
                <div>
                    <a>&laquo;</a>
                    <a (click)="cambiarPaginacion((i+1),itemPaginacion)" *ngFor="let itemPaginacion of inicioPaginacion; let i = index">{{i+1}}</a>
                    <a>&raquo;</a>
                </div>
            </div>

        </div>

        <div id="filter-section" class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
            <div class="card">
                <h4><i class="large material-icons">group_add</i>Filtrar búsqueda</h4>
                <form class="form-filter">
                    <div class="form-group form-format">
                        <label>Nombres</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group form-format">
                        <label>Apellidos</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group form-format">
                        <label>Identificación(C.C)</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group form-format">
                        <label>Rol Asociado</label>
                        <select type="text" class="form-control" placeholder="">
                            <option value="1">Administrador</option>
                            <option value="2">Conductor</option>
                            <option value="3">Recolector</option>
                        </select>
                    </div>
                    <div class="form-group form-format">
                        <label>Estado</label>
                        <select type="text" class="form-control" placeholder="">
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    </div>
                    <div class="form-group form-format">
                        <label>Teléfono</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group form-format">
                        <label>Correo Electronico</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <button type="submit" class="btn">Filtrar</button>
                    <button type="submit" class="btn btn-filter">Limpiar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="statedUser" id="pantalla-opaca"></div>

<div *ngIf="statedUser" class="card float-card">
    <div>
        <h4>Agregar nuevo usuario</h4>
        <button (click)="statedUser = false" class="btn-close"><i class="fas fa-times"></i></button>
    </div>
    <form (ngSubmit)="sendUser()" class="form-filter" #forma="ngForm">
        <div>
            <div class="form-format group-inline">
                <label>Nombres</label>
                <input [(ngModel)]="usuario.nombres" name="nombres" type="text" class="form-control">
            </div>
            <div class="form-format group-inline">
                <label>Apellidos</label>
                <input [(ngModel)]="usuario.apellidos" name="apellidos" type="text " class="form-control">
            </div>
        </div>

        <div>
            <div class="form-format group-inline">
                <label>Identificación(C.C)</label>
                <input [(ngModel)]="usuario.numId" name="numId" type="text" class="form-control">
            </div>
            <div class="form-format group-inline">
                <label>Rol Asociado</label>
                <select [(ngModel)]="usuario.rol" name="rol" type="text" class="form-control">
                                <option value="1">Administrador</option>
                                <option value="2">Conductor</option>
                                <option value="3">Recolector</option>
                        </select>
            </div>
        </div>

        <div>
            <div class="form-format group-inline">
                <label>Estado</label>
                <select [(ngModel)]="usuario.estado" name="estado" type="text" class="form-control" placeholder="">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                        </select>
            </div>
            <div class="form-format group-inline">
                <label>Contraseña</label>
                <input [(ngModel)]="usuario.contrasena" name="contrasena" type="password" class="form-control" placeholder="">
            </div>
        </div>

        <div>
            <div class="form-format group-inline">
                <label>Teléfono</label>
                <input [(ngModel)]="usuario.telefono" name="telefono" type="text" class="form-control" placeholder="">
            </div>
            <div class="form-format group-inline">
                <label>Correo Electronico</label>
                <input [(ngModel)]="usuario.correo" name="correo" type="email" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-format group-inline">
            <button (click)="statedUser=false" type="submit" class="btn btn-filter">cancelar</button>
            <button [disabled]="!forma.valid" type="submit" class="btn">Aceptar</button>
        </div>
    </form>
</div>

<div *ngIf="statedUpdateUser" class="card float-card">
    <div>
        <h4>Actualizar usuario</h4>
        <button (click)="statedUpdateUser = false" class="btn-close"><i class="fas fa-times"></i></button>
    </div>
    <form (ngSubmit)="sendUser()" class="form-filter" #forma="ngForm">
        <div>
            <div class="form-format group-inline">
                <label>Nombres</label>
                <input [(ngModel)]="usuario.nombres" name="nombres" type="text" class="form-control">
            </div>
            <div class="form-format group-inline">
                <label>Apellidos</label>
                <input [(ngModel)]="usuario.apellidos" name="apellidos" type="text " class="form-control">
            </div>
        </div>

        <div>
            <div class="form-format group-inline">
                <label>Identificación(C.C)</label>
                <input [(ngModel)]="usuario.numId" name="numId" type="text" class="form-control" required>
            </div>
            <div class="form-format group-inline">
                <label>Rol Asociado</label>
                <select [(ngModel)]="usuario.rol" name="rol" type="text" class="form-control">
                                <option value="1">Administrador</option>
                                <option value="2">Conductor</option>
                                <option value="3">Recolector</option>
                        </select>
            </div>
        </div>

        <div>
            <div class="form-format group-inline">
                <label>Estado</label>
                <select [(ngModel)]="usuario.estado" name="estado" type="text" class="form-control" placeholder="">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                        </select>
            </div>
            <div class="form-format group-inline">
                <label>Contraseña</label>
                <input [(ngModel)]="usuario.contrasena" name="contrasena" type="password" class="form-control" placeholder="">
            </div>
        </div>

        <div>
            <div class="form-format group-inline">
                <label>Teléfono</label>
                <input [(ngModel)]="usuario.telefono" name="telefono" type="text" class="form-control" placeholder="">
            </div>
            <div class="form-format group-inline">
                <label>Correo Electronico</label>
                <input [(ngModel)]="usuario.correo" name="correo" type="email" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-format group-inline">
            <button (click)="statedUser=false" type="submit" class="btn btn-filter">cancelar</button>
            <button [disabled]="!forma.valid" type="submit" class="btn">Actualizar</button>
        </div>
    </form>
</div>
<div class="row">
    <footer class="col-12">
        <app-footer></app-footer>
    </footer>
</div>