<div class="row">

    <div id="mySidenav" class="sidenav">
        <a id="titulo-Nav" [routerLink]="['/users/1']"><i class="large material-icons">insert_chart</i><span id="item-menu1">OlSoftware</span></a>
        <a [routerLink]="['/users/1']"><i class="large material-icons">map</i><span id="item-menu2">Programación</span><i id="icon1" class="small material-icons arrow-icon">arrow_drop_down</i></a>
        <a [routerLink]="['/users/1']"><i class="large material-icons">dehaze</i><span id="item-menu3">Gestión de operaciones</span><i id="icon2" class="small material-icons arrow-icon">arrow_drop_down</i></a>
        <a [routerLink]="['/users/1']"><i class="large material-icons">toc</i><span id="item-menu4">Perfiles</span><i id="icon3" class="small material-icons arrow-icon">arrow_drop_down</i></a>
        <a [routerLink]="['/users/1']"><i class="large material-icons">school</i><span id="item-menu5">Roles</span></a>
        <a [routerLink]="['/users/1']"><i class="large material-icons">supervisor_account</i><span id="item-menu6">Usuario</span></a>
        <a [routerLink]="['/users/1']"><i class="large material-icons">assignment</i><span id="item-menu7">Reportes</span><i id="icon4" class="small material-icons arrow-icon">arrow_drop_down</i></a>
    </div>


    <!-- <div id="main">
        <div id="main-header">
            <span style="font-size:30px;cursor:pointer" (click)="colpaseMenu(abierto = !abierto)">&#9776; Prueba Front-end</span>
            <div>
                <a><i class="large material-icons">person_outline</i><span>Andres Felipe Gracia Castro</span></a>
                <a [routerLink]="['/login']"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </div> -->
</div>