/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Google Sans', 'SaniTrixieSansRegular', Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    height: 100%;
}

body {
    overflow-x: hidden;
}

footer {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
}

footer p {
    margin-right: 80px;
    margin-bottom: 8px;
    float: right;
    color: black;
}


/* login */

.bg-img {
    background-image: url('/assets/images/backgroundLogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: #434343;
}

#footer h4 {
    font-size: 15px;
    font-weight: 500;
}

#contenido {
    padding: 50px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#panel-derecho {
    height: 100%;
}

#titulo-login {
    position: relative;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.login {
    position: relative;
    width: 372px;
    border: 1px solid #E1E1E1;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px 76px 60px;
}

.login h2 {
    font-size: 25px;
    color: #434343;
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
}

.login .form-group {
    border: 1px solid #acacac;
}

.login .fa-user {
    position: relative;
    float: right;
    color: #434343;
}

.login .fa-unlock {
    position: relative;
    float: right;
    color: #434343;
}

.login .text-box {
    overflow: hidden;
    font-size: 15px;
    padding: 8px 0;
    margin: 8px;
    border: 0px;
    outline: 0px;
}

.login input {
    border: 0px;
}

.login input:focus {
    outline: none;
}

.login .btn {
    background: #2F51E0;
    color: white;
}

.login .btn:hover {
    background: #1c2f7a;
}

.border-bottom {
    border-bottom: 1px solid #acacac !important;
}


/* loading */

#pantalla-opaca {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
}

#titulo-loading {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}

.fa-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* sidenavbar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #62baf1;
    background: -moz-linear-gradient(top, #62baf1 0%, #4855ba 64%, #4855ba 83%, #4855ba 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #62baf1), color-stop(64%, #4855ba), color-stop(83%, #4855ba), color-stop(100%, #4855ba));
    background: -webkit-linear-gradient(top, #62baf1 0%, #4855ba 64%, #4855ba 83%, #4855ba 100%);
    background: -o-linear-gradient(top, #62baf1 0%, #4855ba 64%, #4855ba 83%, #4855ba 100%);
    background: -ms-linear-gradient(top, #62baf1 0%, #4855ba 64%, #4855ba 83%, #4855ba 100%);
    background: linear-gradient(to bottom, #62baf1 0%, #4855ba 64%, #4855ba 83%, #4855ba 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#62baf1', endColorstr='#4855ba', GradientType=0);
    overflow-x: hidden;
    transition: .5s;
    padding: 0 15px;
}

.sidenav a {
    position: relative;
    display: block;
    color: white;
    padding: 16px 4px;
    font-size: 15px;
}

.sidenav a:hover {
    background-color: white;
    color: rgb(70, 117, 245);
}

.sidenav a .material-icons {
    font-size: 30px;
    vertical-align: bottom;
    margin-right: 10px;
}

.sidenav a .arrow-icon {
    position: relative;
    display: inline-block;
    float: right;
}

#main {
    position: relative;
    transition: margin-left .5s;
    width: 100%;
}

#main-header {
    position: relative;
    display: inline-block;
    color: #4675f5;
    padding: 0;
    width: 100%;
}

#main-header span {
    position: relative;
    display: inline-block;
}

#main-header div {
    position: relative;
    display: inline-block;
    float: right;
}

#main-header div a {
    position: relative;
    display: inline-block;
    /* float: right; */
    color: black;
    font-size: 20px;
    right: 50px;
    cursor: default;
}

#main-header a .material-icons {
    font-size: 35px;
    vertical-align: bottom;
    margin-right: 8px;
}

#main-header a .fa-sign-out-alt {
    font-size: 35px;
    vertical-align: bottom;
    margin-right: 8px;
    margin-left: 30px;
    cursor: pointer;
}

#main-header a .fa-sign-out-alt:hover {
    color: #858585;
}

#titulo-Nav {
    border-bottom: 1px solid white;
    font-size: 20px;
}

#titulo-Nav:hover {
    background-color: transparent;
    color: white;
}


/* contenido user */

#user-page {
    margin-left: 300px;
    margin-top: 15px;
    transition: margin-left .5s;
}

#main-title-table {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    color: #4675f5;
}

#main-title-table .material-icons {
    font-size: 25px;
    vertical-align: sub;
    margin-right: 25px;
}

div>.btn {
    background-color: #4675f5;
    color: white;
    display: inline-block;
    float: right;
    margin-top: 8px;
}

div>.btn:hover {
    background-color: #1c2f7a;
    color: white;
}


/* Tabla usuario */

#user-table {
    margin-top: 15px;
    color: black;
}

#user-table td {
    color: #6e6e6e;
}

.fas {
    margin: 0 5px;
}

.fa-pencil-alt {
    cursor: pointer;
    color: #4675f5;
}

.fa-trash {
    cursor: pointer;
}

.fa-pencil-alt:hover {
    color: #1c2f7a;
}

.fa-trash:hover {
    color: #3d3d3d;
}


/* pagination */

.pagination {
    position: relative;
    display: inline-block;
    float: right;
}

.pagination>div {
    display: inline-block;
    float: right;
    color: #6e6e6e;
}

.pagination a {
    position: relative;
    display: inline-block;
    color: #6e6e6e;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.pagination a:hover {
    color: black;
    text-decoration-line: 1px underline;
}

.pagination a:active {
    background-color: black;
    color: white;
}

.pagination a:focus {
    background-color: black;
    color: white;
}


/* formulario filtro */

.form-filter {
    color: #6e6e6e;
}

#filter-section h4,
#filter-section h4 .material-icons {
    color: #4675f5;
}

#filter-section div button {
    margin: 0 16px;
    left: 50%;
    background-color: #8fcc5e;
    background-color: -moz-linear-gradient(left, #8fcc5e 0%, #67a932 100%);
    background-color: -webkit-gradient(left top, right top, color-stop(0%, #8fcc5e), color-stop(100%, #67a932));
    background-color: -webkit-linear-gradient(left, #8fcc5e 0%, #67a932 100%);
    background-color: -o-linear-gradient(left, #8fcc5e 0%, #67a932 100%);
    background-color: -ms-linear-gradient(left, #8fcc5e 0%, #67a932 100%);
    background-color: linear-gradient(to right, #8fcc5e 0%, #67a932 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8fcc5e', endColorstr='#67a932', GradientType=1);
    color: white;
}

#filter-section div .btn-filter {
    background-color: white;
    color: #8EC54A;
    border: 1px solid #8EC54A;
}

#filter-section div .btn-filter:hover {
    background-color: #8EC54A;
    color: white;
}

#filter-section div button:hover {
    background-color: #6e944d;
    background-color: -moz-linear-gradient(left, #6e944d 0%, #335e10 100%);
    background-color: -webkit-gradient(left top, right top, color-stop(0%, #6e944d), color-stop(100%, #335e10));
    background-color: -webkit-linear-gradient(left, #6e944d 0%, #335e10 100%);
    background-color: -o-linear-gradient(left, #6e944d 0%, #335e10 100%);
    background-color: -ms-linear-gradient(left, #6e944d 0%, #335e10 100%);
    background-color: linear-gradient(to right, #6e944d 0%, #335e10 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6e944d', endColorstr='#335e10', GradientType=1);
}

#filter-section h4 {
    text-align: center;
    margin-top: 8px;
}

#filter-section h4 .material-icons {
    font-size: 35px;
    vertical-align: middle;
}

.form-filter {
    padding: 8px 8px;
    text-align: center;
}

.form-format {
    text-align: left;
}


/* Agregar nuevo usuario */

.float-card form .form-control {
    width: 181px;
    border: 1px solid black;
}

form .btn {
    margin: 0 16px;
    left: 50%;
    background-color: #8fcc5e;
    background-color: -moz-linear-gradient(left, #8fcc5e 0%, #67a932 100%);
    background-color: -webkit-gradient(left top, right top, color-stop(0%, #8fcc5e), color-stop(100%, #67a932));
    background-color: -webkit-linear-gradient(left, #8fcc5e 0%, #67a932 100%);
    background-color: -o-linear-gradient(left, #8fcc5e 0%, #67a932 100%);
    background-color: -ms-linear-gradient(left, #8fcc5e 0%, #67a932 100%);
    background-color: linear-gradient(to right, #8fcc5e 0%, #67a932 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8fcc5e', endColorstr='#67a932', GradientType=1);
    color: white;
}

form .btn:disabled:hover {
    background-color: #919191;
    color: white;
}

form .btn:disabled {
    background-color: #919191;
    color: white;
}

form .btn-filter {
    background-color: white;
    color: #8EC54A;
    border: 1px solid #8EC54A;
}

form .btn:hover {
    margin: 0 16px;
    left: 50%;
    background-color: #6e944d;
    background-color: -moz-linear-gradient(left, #6e944d 0%, #335e10 100%);
    background-color: -webkit-gradient(left top, right top, color-stop(0%, #6e944d), color-stop(100%, #335e10));
    background-color: -webkit-linear-gradient(left, #6e944d 0%, #335e10 100%);
    background-color: -o-linear-gradient(left, #6e944d 0%, #335e10 100%);
    background-color: -ms-linear-gradient(left, #6e944d 0%, #335e10 100%);
    background-color: linear-gradient(to right, #6e944d 0%, #335e10 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6e944d', endColorstr='#335e10', GradientType=1);
    color: white;
}

form .btn-filter:hover {
    background-color: #8EC54A;
    color: white;
}

.float-card {
    position: absolute;
    color: black;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.float-card h4 {
    position: relative;
    display: inline-block;
    margin-top: 26px;
    margin-left: 30px;
}

.float-card .form-format {
    margin: 30px 87px;
}

.float-card .btn-close {
    position: relative;
    display: inline-block;
    color: red;
    float: right;
    font-size: 30px;
    cursor: pointer;
    vertical-align: middle;
    background: none;
    border: none;
}

.float-card .btn-close i:hover {
    color: rgb(133, 15, 15);
}

.group-inline {
    position: relative;
    display: inline-block;
}